<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <h2 id="page-heading4" style="color:#000000;">The meal I ordered was</h2>
    <form id="page-form4" class="list">
      <ion-radio id="page-radio1" value="Excellent" ng-model="mdl.radio">Excellent</ion-radio>
      <ion-radio id="page-radio2" value="good" ng-model="mdl.radio">good</ion-radio>
      <ion-radio id="page-radio3" value="regular" ng-model="mdl.radio">regular</ion-radio>
      <ion-radio id="page-radio4" value="bad" ng-model="mdl.radio">bad</ion-radio>
      <ion-radio id="page-radio5" value="awful" ng-model="mdl.radio">awful</ion-radio>
    </form>
    <a ui-sref="page2({radio: mdl.radio})" id="page-button1" class="button button-positive button-block button-outline">Next</a>
  </ion-content>
</ion-view>