<ion-view title="Page" id="page3">
  <ion-content padding="true" class="has-header">
    <h2 id="page3-heading6" style="color:#000000;">Add your comments</h2>
    <form id="page3-form8" class="list">
      <label class="item item-input" id="page3-textarea1">
        <span class="input-label"></span><textarea placeholder="Comments" ng-model="mdl.comment"></textarea></label>
    </form>
     <a ui-sref="page4({radio: radio, check1: check1, check2: check2, check3: check3, check4: check4, comment: mdl.comment})" id="page3-button6" class="button button-positive button-block button-outline">Next</a>
  </ion-content>
</ion-view>
