<ion-view title="Page" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="page5-heading8" style="color:#000000;">Thanks</h1>
     <div id="page5-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{radio}}
      </p>
    </div>
    <div id="page5-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <ul>
          <li ng-if="check1 == true">
            Starter
          </li>
          <li ng-if="check2 == true">
            First course
          </li>
          <li ng-if="check3 == true">
            Main dish
          </li>
          <li ng-if="check4 == true">
            Dessert
          </li>
        </ul>
      </p>
    </div>
    <div id="page5-markdown4" class="show-list-numbers-and-dots">
      <p *ngIf = "$scope.comment == null" style="color:#000000;">Not Provided</p>
       <p  *ngIf = "$scope.comment != null" style="color:#000000;">{{comment}}</p>
    </div>
    <div id="page5-markdown5" class="show-list-numbers-and-dots">
      <p *ngIf = "$scope.name == null" style="color:#000000;"> Not Provided
      </p>
       <p *ngIf = "$scope.name != null" style="color:#000000;"> {{name}} 
      </p>
      <p *ngIf = "$scope.email == null" style="color:#000000;"> Not Provided
      </p>
       <p  *ngIf = "$scope.email != null" style="color:#000000;"> {{email}} 
      </p>
      <p *ngIf = "$scope.phone == null" style="color:#000000;"> Not Provided
      </p>
      <p  *ngIf = "$scope.phone != null" style="color:#000000;"> {{phone}}
      </p>
    </div>
  </ion-content>
</ion-view>